<div *ngIf="actor">

	<div class="row">

		<div class="col-md-3">
			<div class="thumbnail">
				<img src="https://image.tmdb.org/t/p/w500/{{ actor.profile_path }}" alt="">
			</div>
		</div>

		<div class="col-md-9">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<strong>{{ actor.name }}</strong>
					</h3>
				</div>

				<!-- Table -->
				<table class="table">
					<tr>
						<td><strong>Date of birth: </strong> {{ actor.birthday | date }}</td>
					</tr>
					<tr>
						<td><strong>Place of birth: </strong> {{ actor.place_of_birth }}</td>
					</tr>
					<tr>
						<td>
							<strong>Bio: </strong><br>
							{{ actor.biography }}
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>


<hr>
	<div *ngIf="actorMovies">
		<h1>Movies</h1>

		<div class="row" *ngIf="actor">

			<div class="col-sm-6 col-md-3 col-xs-6 movieCard" *ngFor="let movie of actorMovies.cast; let i = index;">
			  <div *ngIf="i < 20">
				  <a routerLink="/movie/{{movie.id}}">
				      <div class="thumbnail">
				        <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="...">
				        <br>
				        Known as: <strong>{{movie.character}}</strong>
				        <br>
				      </div>

				  </a>
			  </div>
			</div>

		</div>

	</div>

</div>