<!-- Modal -->
<div class="modal fade" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign in to your account</h4>
      </div>
      <div class="modal-body">
        <button class="btn btn-danger" (click)="register('google')">Sign in with Google</button>
        <button class="btn btn-info" (click)="register('facebook')">Sign in with Facebook</button>

        <div class="alert alert-success" role="alert" *ngIf="user"><strong>Great!</strong> you're now logged in!</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Nav -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="" routerLinkActive="nav-active">NGMOVIES</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="/actors" routerLinkActive="nav-active">Popular Actors</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Genres <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/genres" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact:
true}">All</a></li>
            <li><a routerLink="/genres/18" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact:
true}">Drama</a></li>
            <li><a routerLink="/genres/28" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact:
true}">Action</a></li>
            <li><a routerLink="/genres/53" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact:
true}">Thriller</a></li>
            <li><a routerLink="/genres/12" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact:
true}">Adventure</a></li>
            <li><a routerLink="/genres/878" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact:
true}">Sci-Fi</a></li>
            <li><a routerLink="/genres/27" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact:
true}">Horror</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" #f="ngForm">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search.." [(ngModel)]="search_value" name="search_value">
          <div class="form-group">
            <span *ngFor="let type of search_type; let i = index" class="input_buttons">
              <label for="search_{{type.type}}" class="search_button_label">{{type.type}}</label>
              <input type="radio" [value]="type.type" id="search_{{type.type}}" [(ngModel)]="type.type" name="search_type" [checked]="i === 0">
            </span>
          </div>
        </div>
        <!-- <button type="submit" (click)="search(f.value)">sss</button> -->
        <a routerLink="/search/{{f.value.search_type}}/{{f.value.search_value}}" class="btn btn-info">Search</a>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!user"><a href="" data-toggle="modal" data-target="#accountModal"><i class="glyphicon glyphicon-user"></i> Account</a></li>
        <li class="dropdown" *ngIf="user">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.auth.displayName}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/user/{{user.uid}}" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact:
true}"><i class="glyphicon glyphicon-user"></i> Your profile</a></li>
            <li><a routerLink="/user/{{user.uid}}/edit" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact:
true}"><i class="glyphicon glyphicon-cog"></i> Edit profile</a></li>
            <li><a routerLink="/user/{{user.uid}}/collections" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact:
true}"><i class="glyphicon glyphicon-star"></i> Collection</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="" (click)="logOut()"><i class="glyphicon glyphicon-off"></i> Log out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
	
	<div class="row">
		
		<div class="col-xs-12">
			<router-outlet></router-outlet>
		</div>

	</div>

</div>

<hr>
<footer class="container">
  <p>&copy; 2017 - NGMOVIE</p>
  <hr>
  <p>Registered users: <strong *ngFor="let user of users | async"><a routerLink="/user/{{user.uid}}"><span class="user-{{user.status}}">&nbsp;</span> {{user.name || user.displayName}}</a>, </strong></p>

</footer>