<div class="row" *ngIf="topRatedMovies">
  	<h1 class="tac">
  		Top Rated Movies <br>

  		<small>
  			Page 
  			<input 
  			type="text" 
  			class="form-control inputPage" 
  			value="{{topRatedMovies.page}}" 
  			#trmPage 
  			(keyup.enter)="switchPage(trmPage.value, 'number', 'topRated', topRatedMovies.total_pages)"
  			> 
  			of 
  			{{topRatedMovies.total_pages}}
  		</small> <br>

  		<button class="btn btn-info" (click)="switchPage('', 'prev', 'topRated')" [disabled]="topRatedMovies.page === 1">Previous page</button>
  		<button class="btn btn-primary" (click)="switchPage('', 'next', 'topRated')" [disabled]="topRatedMovies.page === topRatedMovies.total_pages">Next page</button>
  		
  	</h1>


	<div class="col-sm-4 col-md-3 col-xs-6 movieCard" *ngFor="let movie of topRatedMovies.results">
	  <a routerLink="/movie/{{movie.id}}">
	      <div class="thumbnail">
	        <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="...">
	        <span class="label label-success votes">
	        	<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
	        	{{movie.vote_average}}
	        </span>
	      </div>
	  </a>
	</div>
</div>

<div class="row" *ngIf="popularMovies">
  	<h1 class="tac">
  		Popular Movies <br>
  		<small>
  			Page 
  			<input 
  				type="text" 
  				class="form-control inputPage" 
  				value="{{popularMovies.page || pmPage.value}}" 
  				#pmPage 
  				(keyup.enter)="switchPage(pmPage.value, 'number', 'popular', topRatedMovies.total_pages)"
  			> 
  			of 
  			{{popularMovies.total_pages}}
  		</small> <br>
  		<button class="btn btn-info" (click)="switchPage(pmPage.value, 'prev', 'popular')" [disabled]="popularMovies.page === 1">Previous page</button>
  		<button class="btn btn-primary" (click)="switchPage(pmPage.value, 'next', 'popular')" [disabled]="popularMovies.page === popularMovies.total_pages">Next page</button>
  	</h1>

	<div class="col-sm-4 col-md-3 col-xs-6 movieCard" *ngFor="let movie of popularMovies.results">
	  <a routerLink="/movie/{{movie.id}}">
	      <div class="thumbnail">
	        <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="...">
	        <span class="label label-success votes">
	        	<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
	        	{{movie.vote_average}}
	        </span>
	      </div>
	  </a>
	</div>
</div>


