<div *ngIf="actors">
	
	<h1 class="tac">
		Popular actors <br>
		<small>
  			Page 
  			<input 
  			type="text" 
  			class="form-control inputPage" 
  			value="{{actors.page}}" 
  			#page
  			(keyup.enter)="switchPage(page.value, 'number', 'actors', actors.total_pages)"
  			> 
  			of 
  			{{actors.total_pages}}
  		</small> <br>

  		<button class="btn btn-info" (click)="switchPage('', 'prev', 'actors')" [disabled]="actors.page === 1">Previous page</button>
  		<button class="btn btn-primary" (click)="switchPage('', 'next', 'actors')" [disabled]="actors.page === actors.total_pages">Next page</button>
  		
		
	</h1>


	<div class="col-sm-4 col-md-3 col-xs-6 movieCard actorsCard" *ngFor="let actor of actors.results">
	  <a routerLink="/actor/{{actor.id}}">
	      <div class="thumbnail">
	        <img src="https://image.tmdb.org/t/p/w500/{{actor.profile_path}}" alt="...">
	        <h5>{{actor.name}}</h5>
	      </div>
	  </a>
	</div>

</div>
