<div class="row" *ngIf="collections">

	<h1 class="tac">
	Your collection<br>
	<div *ngIf="movies">
		<div class="alert alert-warning" *ngIf="movies.length === 0">You don't have any movies in collection!</div>
	</div>
	</h1>

	<div class="panel-body row" *ngIf="movies">
	    <div class="col-sm-4 col-md-3 col-xs-6 movieCard collectionsCard" *ngFor="let movie of movies">

	      	<a routerLink="/movie/{{movie.id}}">
		      <div class="thumbnail">
		        <img src="https://image.tmdb.org/t/p/w500/{{movie.img}}" alt="...">
		        <p>{{ movie.name }}</p>
		      </div>
	      	</a>
	      	<div class="thumbnail">
		        <button class="btn btn-default" (click)="removeFromCollection(movie.id)"><i class="glyphicon glyphicon-trash"></i> Remove</button>
	      	</div>
		</div>

  	</div>

</div>


