<div *ngFor="let user of userData | async">
	<h1 class="tac">
		<div class="profilePhotoCont"><img src="{{user.profilePhoto}}" alt="..." class="img-circle userProfilePhoto"></div><br>
		{{user.name}}'s profile
		<br>
		<div *ngIf="currentUser">
			<a *ngIf="currentUser.uid === uid" routerLink="../../user/{{uid}}/edit" class="btn btn-info">Edit your profile</a>
		</div>
	</h1>

	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading">User informations</div>
	  <!-- Table -->
	  <table class="table table-responsive table-stripped">
	    <tr>
	    	<td><strong>Name: </strong> {{user.name}}</td>
	    </tr>
	    <tr>
	    	<td><strong>Age: </strong> <span *ngIf="user.age">{{user.age}}</span> <em *ngIf="!user.age">Not provided</em></td>
	    </tr>
	    <tr>
	    	<td><strong>Favorite movie: </strong> <span *ngIf="user.fav_movie">{{user.fav_movie}}</span> <em *ngIf="!user.fav_movie">Not provided</em></td>
	    </tr>
	    <tr>
	    	<td><strong>About: </strong> <span *ngIf="user.bio">{{user.bio}}</span> <em *ngIf="!user.bio">Not provided</em></td>
	    </tr>
	  </table>
	</div>

	<div class="row">
		<h1 class="tac">{{user.name}}'s movie collection</h1>
		<div class="alert alert-danger" *ngIf="collMovies.length === 0">{{user.name}} doesn't have any movies in collection!</div>
		<div class="col-sm-4 col-md-3 col-xs-6 movieCard collectionCard" *ngFor="let movie of collMovies">
	      	<a routerLink="/movie/{{movie.id}}">
		      <div class="thumbnail">
		        <img src="https://image.tmdb.org/t/p/w500/{{movie.img}}" alt="...">
		        <p>{{ movie.name }}</p>
		      </div>
	      	</a>
		</div>
	</div>
</div>