<div *ngIf="currentUser">
<h1 class="tac">Update your profile</h1>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Favourite movie/movies</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Movie name" #fav_movie>

    <label for="exampleInputEmail1">Age</label>
    <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Age" #age>

    <label for="exampleInputEmail1">Tell us about yourself</label>
    <textarea class="form-control" rows="3" #bio></textarea>

  </div>
  <button type="submit" class="btn btn-default" (click)="updateUserProfile(bio.value, fav_movie.value, age.value)">Update profile</button>
</form>
</div>