/* You can add global styles to this file, and also import other style files */
.tac
	text-align: center !important

h1.tac 
	margin-bottom: 20px
	padding-bottom: 20px
	border-bottom: 1px solid lightgrey

.movieCard
	.thumbnail 
		position: relative
		overflow: hidden
		.votes 
			position: absolute
			top: 10px
			left: 10px
		.addToCollection
			position: absolute
			bottom: 10px
			left: 10px 
			padding: 5px




.inputPage
	display: inline-block
	width: 55px !important
	text-align: center

.input_buttons
	margin-right: 10px

.profilePhotoCont
	max-width: 148px
	max-height: 148px
	margin: 0 auto !important
	.userProfilePhoto
		width: 100%
		height: auto

.user-Active
	background-color: #2ecc71 !important
	width: 8px
	height: 8px
	border-radius: 50px
	vertical-align: middle
	display: inline-block

.user-Offline
	background-color: #e74c3c !important
	width: 8px
	height: 8px
	border-radius: 50px
	vertical-align: middle
	display: inline-block

.collectionCard
	height: 460px
.collectionsCard
	height: 530px
@media screen and (max-width: 770px)
	.collectionCard, .collectionsCard
		height: auto