<div *ngIf="results">
	<h1>{{type}} search results for <em>{{result}}</em></h1>
	<p>
		Page 
		<input 
		type="text" 
		class="form-control inputPage" 
		value="{{results.page}}" 
		#trmPage 
		(keyup.enter)="switchPage(trmPage.value, 'number', results.total_pages)"
		> 
		of 
		{{results.total_pages}}
	</p> <br>

	<button class="btn btn-info" (click)="switchPage('', 'prev')" [disabled]="results.page === 1">Previous page</button>
	<button class="btn btn-primary" (click)="switchPage('', 'next')" [disabled]="results.page === results.total_pages">Next page</button>

	<hr>

	<div class="row">
		<div class="col-sm-4 col-md-3 col-xs-6 movieCard" *ngFor="let result of results.results">
		  <a routerLink="/{{type}}/{{result.id}}">
		      <div class="thumbnail">
		        <img src="https://image.tmdb.org/t/p/w500/{{result.poster_path || result.profile_path}}" alt="...">
		        <span class="label label-success votes" *ngIf="type === 'movie'">
		        	<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
		        	{{result.vote_average}}
		        </span>
		        <div class="caption">
        	  		<strong>{{result.original_title || result.name}}</strong>
        	 	</div>
		      </div>
        	  
		  </a>
		</div>
	</div>
</div>
