<h1 class="tac" *ngIf="genre">
	{{genre}}
</h1>

<div *ngIf="genreMovies">

	<div class="col-sm-4 col-md-3 col-xs-6 movieCard" *ngFor="let movie of genreMovies.results">
	  <a routerLink="/movie/{{movie.id}}">
	      <div class="thumbnail">
	        <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="...">
	        <span class="label label-success votes">
	        	<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
	        	{{movie.vote_average}}
	        </span>
	      </div>
	  </a>
	</div>
</div>