<div *ngIf="movie">

	<div class="row">
		<div class="col-md-3">
			<div class="thumbnail">
				<img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="">
			</div>
		</div>

		<div class="col-md-9">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<strong>{{ movie.title }}</strong>
						<span class="label label-info"><span class="glyphicon glyphicon-star"></span> {{ movie.vote_average }}</span>
					</h3>
				</div>

				<!-- Table -->
				<table class="table">
					<tr>
						<td><strong>Release Date: </strong> {{ movie.release_date }}</td>
					</tr>
					<tr>
						<td><strong>Runtime: </strong>{{ movie.runtime }} minutes</td>
					</tr>
					<tr>
						<td>
							<strong>{{ (movie.genres.length === 1) ? 'Genre: ' : 'Genres: ' }}</strong>
							<span class="genre label label-info" *ngFor="let genre of movie.genres">
								<a routerLink="/genres/{{genre.id}}">{{ genre.name }}</a>
							</span>
						</td>
					</tr>
					<tr>
						<td><strong>Budget: </strong> {{ movie.budget | currency:'USD':true }}</td>
					</tr>
					<tr>
						<td><strong>Revenue: </strong> {{ movie.revenue | currency:'USD':true }}</td>
					</tr>
					<tr>
						<td>
							<strong>{{ (movie.production_countries.length > 1) ? 'Production Countries: ' : 'Production Country: ' }}</strong>
							<span class="genre label label-default" *ngFor="let country of movie.production_countries">
								{{ country.name }}
							</span>
						</td>
					</tr>
					<tr>
						<td>
							<strong>Overview: </strong><br>
							{{ movie.overview }}
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<div *ngIf="currentUser">
	<button class="btn btn-info addToCollection" (click)="addToCollection(movie.title, movie.poster_path, movie.id)" [disabled]="inColl">
		<i class="glyphicon glyphicon-star-empty"></i>
	    Add to collection
	</button>
	<div class="alert alert-success" *ngIf="inColl"><strong>{{movie.title}}</strong> added to your collection</div>
</div>
<hr>
<div *ngIf="similarMovies">
	<h1>Similar movies</h1>
	<div class="row">
		<div class="col-sm-6 col-md-2 col-xs-6 movieCard" *ngFor="let movie of similarMovies.results; let i = index;">
		  <div *ngIf="i < 6">
			  <a routerLink="/movie/{{movie.id}}">
			      <div class="thumbnail">
			        <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="...">
			        <span class="label label-success votes">
			        	<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
			        	{{movie.vote_average}}
			        </span>
			      </div>
			  </a>
		  </div>
		</div>

	</div>
</div>